.box
{
	position: absolute;
	display: inline-block;
	z-index: 999;
}

.box input
{
	visibility: hidden;
	max-width: 95%; 
	position: relative;
}

.box:hover
{
	border-width: 4px;
	border-color: grey;
	border-style: solid;
}

.box:hover input
{
	visibility: visible;
}

.img_container {
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
    width: 500px;
    min-width: 400px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
uploadStyle {
    float:left;
    margin:5px;
}